// views/index.pug
doctype html
html
  head
    title Catalog Manager
  body
    h1 Catalog Manager
    a(href="/catalog/upload") Upload Catalog
    br
    a(href="/catalog/lookup") Lookup Model Number
